<%- include('partials/header') %>

<div class="jumbotron text-center centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <i class="fas fa-heart"></i>
    <h1 class="display-4">You've Discovered One of My Secrest!</h1>
    <br>

    
    <p class="secret-text">
		P ulcly aovbnoa aopz flhy dpss iypun tl h ivf sprl fvb (2020 P mvynpcl fvb h spaasl). <br>
		
	
		P dvbsk sprl av ruvd tvyl hivba fvb. P't ylhssf jbypvbz. Uv thaaly doha qbza il fvbyzlsm dpao tl. <br> 
	
	
		"P sprl fvb",
		-"iba fvb kvu'a ruvd tl," 
		"P dhua av, aovbno" .
	</p>

    <br>
    <br>
    <hr>
    <img class="secrets-image" src="images/pooh2.jpg" alt="pooh2">
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/header') %>
