<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">
		P ulcly aovbnoa aopz flhy dpss iypun tl h ivf sprl fvb (2020 P mvynpcl fvb h spaasl)

		P dvbsk sprl av ruvd tvyl hivba fvb. P't ylhssf jbypvbz. Uv thaaly doha qbza il fvbyzlsm dpao tl. 

		"P sprl fvb",
		-"iba fvb kvu'a ruvd tl," 
		"P dhua av, aovbno" .</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
